{
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "useTabs": false,
                "tabWidth": 2
            }
        }
    ]
}
